.grid-controls {
    padding: 4px;
    margin-top: 4px;
}

.grid-control-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 4px;
    flex-wrap: wrap;
}

.grid-buttons {
    margin-bottom: 16px;
}

#grid-height,
#grid-width {
    max-width: 4.8rem;
    margin: 4px;
}
