#rule-survival,
#rule-birth {
    margin: 4px;
}

.rule-select-container {
    margin-left: auto;
    margin-right: auto;
}

.rule-selector {
    margin-right: 4px;
}

.rule-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rule-control-row {
    display: flex;
    margin: 4px;
    align-items: center;
}

.rule-control-column {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.rule-customization-switch {
    margin-left: 8px;
}

.tile {
    text-align: center;
}
